<% layout('../layout_default') %>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/about-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">Brief introduction about the page owner and the reason for creating this page :))</span>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-10 mx-auto">
                <div class="post-preview">
                    <b>Name</b>: Nguyen Xuan Duy Anh<br/> <b>Date of birth</b>: 12-02-1999<br/><b> Job</b>: Javascript developer<br/> I create this page just to kill the time when I'm in my company.

                </div>
            </div>
        </div>
    </div>