<% layout('../layout_default') %>
    <header class="masthead" style="background-image: url('/img/contact-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Login</h1>
                        <span class="subheading"> At this time, there is only the owner who can create blogs on this page, so please login to check.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <h2>Fill your account information:</h2>
        <form action="/authen/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" placeholder="Enter password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>